<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
<title>DEMO</title>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
<script src="../src/OriginFormats.js"></script>
<script src="../src/Formatters.js"></script>
<script src="../src/Validators.js"></script>
<script>
	var DemoApp = angular.module("DemoApp", ["ui.origin.formats"]);
	
	DemoApp.controller("LoginController", ['$scope', '$Formatters', function($scope, $Formatters){
        $scope.cpf = "";
        $scope.password = "";
        $scope.rg = "";
        $scope.cnpj = "";
        $scope.email = "";
        $scope.tel = "";
        $scope.cep = "";
        $scope.custom = "";
        $scope.real = "";
        $scope.dolar = "";
        $scope.euro = "";
        $scope.mask = "";

        $scope.isValidCpf = false;
        $scope.isValidCnpj = false;
        $scope.isValidEmail = false;
        
        $scope.login = function(){
            console.log();
        }
        
        $scope.onValid = function(){
        	$scope.isValidCpf = true;
        }
        
        $scope.onInvalid = function(){
        	$scope.isValidCpf = false;
        }
        
	}]);
</script>

<style>

.ok input {
	color: green;
}

.nok input  {
	color: red;
}

label {
	display:block;
}

</style>

</head>
<body ng-app="DemoApp">
	<div class="login-area" ng-controller="LoginController">
    <label class="{{ isValidCpf ? 'ok' : 'nok' }}">
       CPF: <input origin-format="cpf" type="tel" ng-model="username"  on-valid="onValid();" on-invalid="onInvalid();" />
    </label>

    <label ng-show="isValidCpf">
        SENHA: <input  type="tel" ng-model="password"/>
    </label>
    </div>
    <div>
	 <label class="{{ isValidEmail ? 'ok' : 'nok' }}">
		E-MAIL: <input origin-format="email"  type="text" ng-model="email"  validate-model="isValidEmail" />
		</label>
		 <label >
		RG: <input origin-format="rg" type="tel" ng-model="rg" />
		</label>
		 <label class="{{ isValidCnpj ? 'ok' : 'nok' }}">
		CNPJ:	<input origin-format="cnpj" type="tel" ng-model="cnpj"  validate-model="isValidCnpj"   />
		</label>
		
		<label>
		TELEFONE:	<input origin-format="tel" type="tel" ng-model="tel"    />
		</label>
		
		<label>
		Data:	<input origin-format="date" type="tel" ng-model="date" />
		</label>
		
		<label>
		Data:	<input origin-format="date" type="date" ng-model="date" />
		</label>


		<label>
		Personalizado 555-555 (R--55) 5:	<input origin-format="555-555 (R--55) 5" type="tel" ng-model="custom"    />
		</label>
		
		
		<label>
		Real R$ 1.000,00:	<input origin-format="real" type="tel" ng-model="real"    />
		</label>
		
		<label >
		Dolar $ 1,000.00:	<input origin-format="dolar" type="tel" ng-model="dolar" />
		</label>		
		
		<label >
		Euro € 1,000.00:	<input origin-format="euro" type="tel" ng-model="euro" />
		</label>
		
		<label>
		Mascara 444-XXX-444:	<input origin-format="real" origin-mask="###-XXX-###" type="tel" ng-model="mask" />
		</label>
		

	</div>
	
</body>
</html>
